version: '3.9'

services:
  app:
    build: .
    container_name: ds_app
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: ds_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
